.card { background-color:#99ddff; }
.card .parent { color:#333333 }
.Bug { background-color: #ff99cc; }
.Epic { background-color:#99aaff; }
.Improvement { background-color:#77ffcc; }
.Technical { background-color:#ffffcc; }
